@charset "UTF-8";
/* CSS Document */
body, html {
	margin:0;
	padding:0;
	height:100%;
	text-align:center;

}


#nav{
	list-style: none;
	position: fixed;
	right: 44px;
	z-index:50;
	height:280px;
	margin-top:40px;
}

#nav li {
    margin: 0 0 10px;
    height: 3px;
    width: 3px;
}

	
#content {
	width:210px;
	float:left;
	position:absolute;
	bottom: 4px;
	height:41px;
	z-index:50;
	display:block;
	list-style: none;
	border-radius:3px;
	background-color: rgba(255,255,255,0.4);
}




@media (max-width:960px) {

#intro {
	background-image:url(../images/titre.jpg);
	background-size:50%;
	background-repeat:no-repeat;
	background-position:center center;
	height: 100%;
	width: 100%;
	display:block;
	position:relative;
	background-color:#e1e1e1;
	background-color:#fec56d;
	margin: 0 auto;
	padding: 0;

	
}


#fond1 {
	background-image:url(img/fond1.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center center;
	text-align:center;
	background-color:#533248;
	position:relative;
	height:100%;
	width:100%;
}

#fond2 {
	background-image:url(img/fond2.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
	text-align:center;
	background-color:#946785;
	position:relative;
	height:100%;
	width:100%;
}

#fond3 {
	background-image:url(img/fond3.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
	text-align:center;
    background-color:#ac7098;
	position:relative;
	height:100%;
	width:100%;
}

#fond4 {
	background-image:url(img/fond4.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
	text-align:center;
    background-color:#d1a4c2;
	position:relative;
	height:100%;
	width:100%;
}
}

@media (max-width:600px) {

    #intro {
        background-image:url(../images/titre.jpg);
        background-size:50%;
        background-repeat:no-repeat;
        background-position:center center;
        height: 100%;
        width: 100%;
        display:block;
        position:relative;
        background-color:#e1e1e1;
        background-color:#fec56d;
        margin: 0 auto;
        padding: 0;
    
        
    }
    
    
    #fond1 {
        background-image:url(img/fond1.jpg);
        background-size:100%;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#533248;
        position:relative;
        height:100%;
        width:100%;
    }
    
    #fond2 {
        background-image:url(img/fond2.jpg);
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#946785;
        position:relative;
        height:100%;
        width:100%;
    }
    
    #fond3 {
        background-image:url(img/fond3.jpg);
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#ac7098;
        position:relative;
        height:100%;
        width:100%;
    }
    
    #fond4 {
        background-image:url(img/fond4.jpg);
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#d1a4c2;
        position:relative;
        height:100%;
        width:100%;
    }
}
@media (max-width:500px) {

    #intro {
        background-image:url(../images/titre.jpg);
        background-size:50%;
        background-repeat:no-repeat;
        background-position:center center;
        height: 100%;
        width: 100%;
        display:block;
        position:relative;
        background-color:#e1e1e1;
        background-color:#fec56d;
        margin: 0 auto;
        padding: 0;
    
        
    }
    
    
    #fond1 {
        background-image:url(img/fond1.jpg);
        background-size:100%;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#533248;
        position:relative;
        height:100%;
        width:100%;
    }
    
    #fond2 {
        background-image:url(img/fond2.jpg);
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#946785;
        position:relative;
        height:100%;
        width:100%;
    }
    
    #fond3 {
        background-image:url(img/fond3.jpg);
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#ac7098;
        position:relative;
        height:100%;
        width:100%;
    }
    
    #fond4 {
        background-image:url(img/fond4.jpg);
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#d1a4c2;
        position:relative;
        height:100%;
        width:100%;
    }
}

@media (min-width:961px) {

    #intro {
        background-image:url(../images/titre.jpg);
        background-size:50%;
        background-repeat:no-repeat;
        background-position:center center;
        height: 100%;
        width: 100%;
        display:block;
        position:relative;
        background-color:#e1e1e1;
        background-color:#fec56d;
        margin: 0 auto;
        padding: 0;
    
        
    }
    
    
    #fond1 {
        background-image:url(img/fond1.jpg);
        background-size:100%;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#533248;
        position:relative;
        height:100%;
        width:100%;
    }
    
    #fond2 {
        background-image:url(img/fond2.jpg);
        background-size:100%;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#946785;
        position:relative;
        height:100%;
        width:100%;
    }
    
    #fond3 {
        background-image:url(img/fond3.jpg);
        background-size:100%;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#ac7098;
        position:relative;
        height:100%;
        width:100%;
    }
    
    #fond4 {
        background-image:url(img/fond4.jpg);
        background-size:100%;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background-color:#d1a4c2;
        position:relative;
        height:100%;
        width:100%;
    }
}

    