

@charset "UTF-8";
/* CSS Document */
body, html {
	margin:0;
	padding:0;
	height:100%;
    text-align:center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;

}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 300%;
}

.arrow1 {
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* The hero image */
#hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Hintergrund.JPG");
  
    /* Set a specific height */
    height: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }




.icon {
    margin-top:-340px;
    margin-left: 110px;
    height: 130px;
}

.icon a:hover{
    opacity: 0.5;
    font-weight: bolder;
}

	
#content {
	width:210px;
	float:left;
	position:absolute;
	bottom: 4px;
	height:41px;
	z-index:50;
	display:block;
	list-style: none;
	border-radius:3px;
	background-color: rgba(255,255,255,0.4);
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    display: inline-block;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 200%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: rgb(82, 82, 82);
    color: white;
    transform: rotateY(180deg);
  }

  

#fond1 {
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center center;
    text-align:center;
    background: grey;
    position:relative;
    height:130%;
    width:100%;
}


#fond2 {
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    text-align:center;
    background: #bbb;
    position:relative;
    height:200%;
    width:100%;
}

#fond3 {
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    text-align:center;
    background: grey;
    
    height:150%;
    width:100%;
}





* {
    box-sizing: border-box;
  }
  
  /* Set a background color */
  body {
    background-color: #474e5d;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  .timeline a{
     color: #000000;
  }
  
  .timeline a:hover{
    opacity: 0.5;
    font-weight: bolder;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: grey;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: grey;
    border: 4px solid rgb(0, 0, 0);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid grey;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent grey;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid grey;
    border-width: 10px 10px 10px 0;
    border-color: transparent grey transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 10px 18px;
    background-color: grey;
    position: relative;
    border-radius: 6px;
  }


  .content {
    position: relative;
  
  }

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .content:hover .overlay {
    opacity: 1;
  }

  

  /* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.cont1 {
    width: 100%; /* Full width */
    background-color: rgb(82, 82, 82);; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 25px; /* Add some right padding */
    line-height: 12px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: rgb(255, 255, 255); /* White text color */
}

.adobe1 {width: 90%; background-color: #ffffff;} 
.adobe2 {width: 85%; background-color: #ffffff;}
.adobe3 {width: 89%; background-color: #ffffff;} 
.adobe4 {width: 88%; background-color: #ffffff;} 
.ms {width: 90%; background-color: #ffffff;} 

.deutsch {width: 100%; background-color: #ffffff;} 
.englisch {width: 85%; background-color: #ffffff;}
.spanisch {width: 50%; background-color: #ffffff;} 



.flip-box1 {
    background-color: transparent;
    width: 300px;
    height: 180px;
    perspective: 1000px;
    display: inline-block;
  }
  
  .flip-box-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box1:hover .flip-box-inner1 {
    transform: rotateY(180deg);
  }
  
  .flip-box-front1, .flip-box-back1 {
    position: absolute;
    width: 100%;
    height: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front1 {
    background-color: grey;
    color: black;
  }
  
  .flip-box-back1 {
    background-color: grey;
    color: white;
    transform: rotateY(180deg);
  }




  /*Desktop*/
@media screen and (min-width:1024px){
    body, html {
        margin:0;
        padding:0;
        height:100%;
        text-align:center;
        font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    
    }
    
    .arrow {
        border: solid rgb(255, 255, 255);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        position: absolute;
        top: 300%;
    }
    
    .arrow1 {
        border: solid rgb(0, 0, 0);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
    }
    
    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    
    /* The hero image */
    #hero-image {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Hintergrund.JPG");
      
        /* Set a specific height */
        height: 100%;
      
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      
      /* Place text in the middle of the image */
      .hero-text {
        text-align: center;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
    
    
    
    
    .icon {
        margin-top:-340px;
        margin-left: 110px;
        height: 130px;
    }
    
    .icon a:hover{
        opacity: 0.5;
        font-weight: bolder;
    }
    
        
    #content {
        width:210px;
        float:left;
        position:absolute;
        bottom: 4px;
        height:41px;
        z-index:50;
        display:block;
        list-style: none;
        border-radius:3px;
        background-color: rgba(255,255,255,0.4);
    }
    
    .flip-box {
        background-color: transparent;
        width: 300px;
        height: 200px;
        perspective: 1000px;
        display: inline-block;
      }
      
      .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
      }
      
      .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 200%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-box-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-box-back {
        background-color: rgb(82, 82, 82);
        color: white;
        transform: rotateY(180deg);
      }
    
      
    
    #fond1 {
        background-size:100%;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background: grey;
        position:relative;
        height:130%;
        width:100%;
    }
    
    
    #fond2 {
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background: #bbb;
        position:relative;
        height:200%;
        width:100%;
    }
    
    #fond3 {
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center center;
        text-align:center;
        background: grey;
        
        height:150%;
        width:100%;
    }
    
    
    
    
    
    * {
        box-sizing: border-box;
      }
      
      /* Set a background color */
      body {
        background-color: #474e5d;
        font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
      }
      
      /* The actual timeline (the vertical ruler) */
      .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
      }

      .timeline a{
        color: #000000;
     }
     
     .timeline a:hover{
       opacity: 0.5;
       font-weight: bolder;
     }
      
      /* The actual timeline (the vertical ruler) */
      .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: grey;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
      }
      
      /* Container around content */
      .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
      }
      
      /* The circles on the timeline */
      .container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: grey;
        border: 4px solid rgb(0, 0, 0);
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }
      
      /* Place the container to the left */
      .left {
        left: 0;
      }
      
      /* Place the container to the right */
      .right {
        left: 50%;
      }
      
      /* Add arrows to the left container (pointing right) */
      .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid grey;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent grey;
      }
      
      /* Add arrows to the right container (pointing left) */
      .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid grey;
        border-width: 10px 10px 10px 0;
        border-color: transparent grey transparent transparent;
      }
      
      /* Fix the circle for containers on the right side */
      .right::after {
        left: -16px;
      }
      
      /* The actual content */
      .content {
        padding: 10px 18px;
        background-color: grey;
        position: relative;
        border-radius: 6px;
      }
    
    
      .content {
        position: relative;
      
      }
    
      .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
      }
    
      .content:hover .overlay {
        opacity: 1;
      }
    
      
    
      /* Make sure that padding behaves as expected */
    * {box-sizing:border-box}
    
    /* Container for skill bars */
    .cont1 {
        width: 100%; /* Full width */
        background-color: rgb(82, 82, 82);; /* Grey background */
    }
    
    .skills {
        text-align: right; /* Right-align text */
        padding-right: 25px; /* Add some right padding */
        line-height: 12px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
        color: rgb(255, 255, 255); /* White text color */
    }
    
    .adobe1 {width: 90%; background-color: #ffffff;} 
    .adobe2 {width: 85%; background-color: #ffffff;}
    .adobe3 {width: 89%; background-color: #ffffff;} 
    .adobe4 {width: 88%; background-color: #ffffff;} 
    .ms {width: 90%; background-color: #ffffff;} 
    
    .deutsch {width: 100%; background-color: #ffffff;} 
    .englisch {width: 60%; background-color: #ffffff;}
    .spanisch {width: 30%; background-color: #ffffff;} 
    
    
    
    .flip-box1 {
        background-color: transparent;
        width: 300px;
        height: 180px;
        perspective: 1000px;
        display: inline-block;
      }
      
      .flip-box-inner1 {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      .flip-box1:hover .flip-box-inner1 {
        transform: rotateY(180deg);
      }
      
      .flip-box-front1, .flip-box-back1 {
        position: absolute;
        width: 100%;
        height: 50%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-box-front1 {
        background-color: grey;
        color: black;
      }
      
      .flip-box-back1 {
        background-color: grey;
        color: white;
        transform: rotateY(180deg);
      }
    
    }
    
    
    