body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-image: linear-gradient(rgba(179, 110, 151, 0.658),rgb(255, 255, 255));
    text-align: center;
    word-spacing: 100px;
    padding: 10px;
    top:0;
}

.warenkorb{
    margin-right: auto;
    width: 10%;
}

#header h1{
    font-family: Courier, monospace;
    font-size: 60px;
}

#header img{
    width: 30%;
}
#header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
}
#header a:hover{
    background-color: rgba(196, 138, 173, 0.801);
}
main{
    text-align: right;
}

.footer {
    background-image: linear-gradient(rgb(255, 255, 255),rgba(196, 138, 173, 0.801);
    text-align: center;
    word-spacing: 100px;
    padding: 10px;
    top:0;
}


