body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-image: linear-gradient(rgba(196, 138, 173, 0.801),rgb(255, 255, 255));
    text-align: center;
    word-spacing: 100px;
    padding: 10px;
    top:0;
}

#header h1{
    font-family: Courier, monospace;
    font-size: 60px;
}

#header img{
    width: 50%;
}
#header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
}
#header a:hover{
    background-color: rgba(196, 138, 173, 0.801);
}
main{
    text-align: right;
}

#footer {
    background-image: linear-gradient(rgb(255, 255, 255),rgba(196, 138, 173, 0.801));
    color: rgba(0, 0, 0, 0.719);
    padding-bottom: 10px;
    padding-top: 10px;
    border-width: 10;
    border-color:#9e7b7b;
    border-style: solid;
    border-radius: 0px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#footer footer{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: rgba(0, 0, 0, 0.719);
    text-decoration: none;
}

