body {
    background-image: url("hintergrundfarbe.jpg");
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
header{
        position: relativ;
        margin-top: -50px;
        height: 300px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: all 2s ease-in-out 0s; 
}

header h1{
    display: flex;
  align-items: center;
  top: 0px;
}



.icon {
    margin-top:-500px;
    margin-left: 70%;
    height: 160px;
}

.icon a:hover{
    opacity: 0.5;
    font-weight: bolder;
}

.hauptmenü{
    position: sticky;
    top: 0;
    color: white;
    background-color: rgba(196, 138, 173, 0.801);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: larger;
    border-radius: 0px 0px 0px 0px;
    width: 250px;
    left: 5%;
    height: 20%;
    padding: 5px 10px 0px 10px;
    text-align: center;

}
.liste {
    display: none;
    list-style: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

.hauptmenü:hover .liste {
    display: block;
    margin-bottom: 0px;
    color: white;
    list-style: none;
    text-align: center;
}

nav a {
    text-decoration: none;
    color:white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
nav a:hover {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}