body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
.obereLeiste{
    margin-top: -600px;
    width: auto;
    height: 900px;
    border-radius: 0%;
    background-color:rgb(255, 255, 255);
   
}

img[alt=logo]{
    margin-top: -600px;
    width: 70px;
    height: 70px;
}

.icon {
    margin-top:-500px;
    margin-right: 30%;
    height: 130px;
}

.icon a:hover{
    opacity: 0.5;
    font-weight: bolder;
}

.hauptmenü{
    position: sticky;
    top: 0;
    color: white;
    background-color: rgba(196, 138, 173, 0.801);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: larger;
    border-radius: 0px 0px 0px 0px;
    width: 250px;
    left: 5%;
    height: 40%;
    padding: 5px 10px 0px 10px;
    text-align: center;

}
.liste {
    display: none;
    list-style: none;
    color: white;
}

.hauptmenü:hover .liste {
    display: block;
    margin-bottom: 0px;
    color: white;
    list-style: none;
}

nav a {
    text-decoration: none;
    color:white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
nav a:hover {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}