body {
    font-family: sans-serif;
}
.obereLeiste{
    margin-top: -600px;
    margin-left: 90%;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color:rgb(255, 255, 255);
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.obereLeiste h1{
    color: rgb(0, 0, 0);
    padding-top: 500px;
    text-align: center;
    font-size: 100px;
    margin-bottom: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

