body {
    background-image: url("hintergrundfarbe.jpg");
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin-left: auto;
    margin-right: auto;
}


#header {
    background-image: linear-gradient(rgb(255, 255, 255)47);
    text-align: center;
    word-spacing: 100px;
    padding: 10px;
    position: sticky;
    top:0;
}
#header img{
    width: 10%;
}
#header a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
#header a:hover{
    background-color: rgba(172, 123, 161, 0.863);
}

main{
    text-align: right;
}