body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
.obereLeiste{
    margin-top: -600px;
    margin-left: 10%;
    width: 900px;
    height: 900px;
    border-radius: 10%;
    background-color:rgb(255, 255, 255);
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.icon {
    margin-top:-340px;
    margin-left: 110px;
    height: 130px;
}

.icon a:hover{
    opacity: 0.5;
    font-weight: bolder;
}

nav{
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: larger;
    border-radius: 0px 0px 0px 0px;
    width: 300px;
    left: 50%;
    height: 35%;
    padding: 5px 10px 0px 10px;
    text-align: center;

}
nav a {
    text-decoration: none;
    color:white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
nav a:hover {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}