body {
    background-image: url("hintergrundfarbe.jpg");
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
.obereLeiste{
    margin-top: -600px;
    width: auto;
    height: 900px;
    border-radius: 0%;
    background-color:rgb(255, 255, 255);
   
}
header h1{
    display: flex;
  align-items: center;
  justify-content: center;
}



.icon {
    margin-top:-500px;
    margin-left: 70%;
    height: 160px;
}

.icon a:hover{
    opacity: 0.5;
    font-weight: bolder;
}

.hauptmenü{
    position: sticky;
    top: 0;
    color: white;
    background-color: rgba(196, 138, 173, 0.801);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: larger;
    border-radius: 0px 0px 0px 0px;
    width: 250px;
    left: 5%;
    height: 40%;
    padding: 5px 10px 0px 10px;
    text-align: center;

}
.liste {
    display: none;
    list-style: none;
    color: white;
    text-align: center;
}

.hauptmenü:hover .liste {
    display: block;
    margin-bottom: 0px;
    color: white;
    list-style: none;
    text-align: center;
}

nav a {
    text-decoration: none;
    color:white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
nav a:hover {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}