body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-image: linear-gradient(rgb(255, 255, 255),rgba(196, 138, 173, 0.801));
    text-align: center;
    word-spacing: 100px;
    padding: 10px;
    position: sticky;
    top:0;
}

#header h1{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: medium;
}

#header img{
    width: 15%;
}
#header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
}
#header a:hover{
    background-color: rgba(196, 138, 173, 0.801);
}
main{
    text-align: right;
}