body{
    background-color: rgba(205, 253, 255, 0.733);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

.rakete:hover { margin-top: -500px }

div:hover img[src="welt.png"] { 
    transform: rotate(780deg)scale(0.5,0.5);
    transition: 5s }