body{
    background-color: rgba(238, 168, 64, 0.87);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

.rakete a:hover { margin-top: -500px }

.welt a:hover { 
    transform: rotate(780deg)scale(0.5,0.5);
    transition: 5s }

    main div{
        display: inline-block;
        width: 50%;
        border-style: solid;
        margin-right: auto;
        margin-left:auto;
    
    }
    
    main div:hover{
        border-color: rgb(0, 0, 0);
    }

    #header{
        background-image: rgb(255, 255, 255);
        text-align: center;
        word-spacing: 100px;
        padding: auto;
        top:0;
        position: fixed;
        width:100%;
    }