body{
    background-color: rgba(238, 168, 64, 0.87);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

.rakete a:hover { margin-top: -500px }

.welt a:hover { 
    transform: rotate(780deg)scale(0.5,0.5);
    transition: 5s }

    main div{
        display: inline-block;
        width: 50%;
        border-style: solid;
        margin-right: auto;
        margin-left:auto;
    
    }
    
    main div:hover{
        border-color: rgb(0, 0, 0);
    }

    #header{
        background-image: rgb(255, 255, 255);
        text-align: center;
        word-spacing: 100px;
        padding: auto;
        top:0;
        position: fixed;
        width:100%;
    }

    .rakete .figureslidein {
        top: 95%;
        width: 98%; height:auto; /* auto sorgt für die angezeigte höhe im bild*/
        margin: 1%;
        margin-bottom: 30px;
        padding-top: 20px;
        padding-bottom: 600px;
        /*background-color: rgba(61,139,236,0.6);*/
        background-color: rgba(255,255,255,0.8);
        color: black;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }