body {
    background-image: url("hintergrundfarbe.jpg");
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

main{
    min-height: 600px;
}

main div{
    display: inline-block;
    width: 50%;
    border-style: solid;
    margin-right: auto;
    margin-left:auto;
    transition: all 2s ease-in-out 0s;
}

main div:hover{
    border-color: rgb(90, 84, 84);
}

.blume{
    display: block;
    margin-bottom: 10px;
    min-height: min-content;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}


.blume>img{
    float: left;
    width: 50%;
    margin: 5px;
    
}
.blume button{
    float: none;
    background-color: rgba(172, 123, 161, 0.863);
    padding:10px 5px;
    color: white;
    border-radius: 0;
    border-color: rgba(172, 123, 161, 0.863);
    font-size: large;
    margin-bottom: 5px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.blume button:hover{
    background-color: white;
    color:rgba(172, 123, 161, 0.863);
}

.blume ul{
    list-style: none;
    padding: 0px 0px 0px 0px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
