
/*Desktop*/
@media screen and (min-width:720px){
body{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
}

#header{
    background-image: linear-gradient(rgba(196, 138, 173, 1),rgb(255, 255, 255));
    text-align: center;
    word-spacing: 100px;
    padding: 10px;
    top:0;
    position: fixed;
    width:100%;
}

.bildgröße{
    max-width: 4%;
}

#header h1{
    font-size: 20px;
}

#header img[alt=blumenshop]{
    width: 20%
}

#header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
}
#header a:hover{
    background-color: rgba(196, 138, 173, 0.801);
}

main{
    min-height: 600px;
}

main div{
    display: inline-block;
    width: 50%;
    border-style: solid;
    margin-right: auto;
    margin-left:auto;

}

main div:hover{
    border-color: rgb(0, 0, 0);
}



.blume div{
        border: 2px solid rgb(0, 0, 0);
        box-shadow: 0pt 2px 5px rgba(255, 255, 255, 0.7);
        max-width: 450px;
        max-height: 450px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: white;
        padding: 40px 80px 40px 40px;
        margin: 0px 30px 30px 40px;
        text-align: center;
        
    
    }

.blume>img{
    float: left;
    width: 50%;
    margin: 5px;
    
}
.blume button{
    float: none;
    background-color: rgba(172, 123, 161, 0.863);
    padding:10px 5px;
    color: white;
    border-radius: 0;
    border-color: rgba(172, 123, 161, 0.863);
    font-size: large;
    margin-bottom: 5px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.blume button:hover{
    background-color: white;
    color:rgba(172, 123, 161, 0.863);
}

.blume ul{
    list-style: none;
    padding: 0px 0px 0px 0px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    background-color: white;
}

#überschrift{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    background-color: white;
}

.preis{
    font-style: normal; font-weight: 700;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    background-color: white;
}


.footer{
    background-image: linear-gradient(rgb(255, 255, 255),rgba(196, 138, 173, 0.801));
    text-align: center;
    padding: 10px;
    bottom:0;
    position: fixed;
}

.footer a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.footer p:hover{
    color: rgba(196, 138, 173, 0.801);
    text-decoration: none;
}
}


/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1024px) {


}


/* smartphone */
@media screen and (max-width: 600px) {

    
}