body {
    background-image: url("bg.png");
    font-family: sans-serif;
}
.halbkreis{
    margin-top: -600px;
    margin-left: 10%;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color:rgba(228, 206, 135, 0.089);
}

.halbkreis h1{
    color: rgb(0, 0, 0);
    padding-top: 500px;
    text-align: center;
    font-size: 100px;
    margin-bottom: 0px;
    font-style: normal;
}

.halbkreis p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}


nav{
    position: sticky;
    top: 0px;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border-radius: 0px 0px 10px 10px;
    width: 300px;
    left: 50%;
    height: 35%;
    padding: 5px 10px 0px 10px;

}
nav a {
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
    color: rgb(118, 208, 224);
    font-weight: bolder;
}