body {
    background-image: url("bg.png");
}
.halbkreis{
    margin-top: -600px;
    margin-left: 10%;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color: rgba(87, 39, 75, 0.76);
}

.halbkreis h1{
    color: white;
    padding-top: 500px;
    text-align: center;
    font-size: 150px;
    margin-bottom: 0px;
}

.halbkreis p{
    color: white;
    text-align: center;
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
}


nav{
    position: sticky;
    top: 0px;
    color: white;
    background-color: black;
    margin-left: 70%;
    border-radius: 3px;
    width: 240px;
}

nav a{
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: black;
}
nav a:hover{
    color: rgb(161, 31, 37);
}


