body {
    background-image: url("bg.png");
}
.halbkreis{
    margin-top: -600px;
    margin-left: 10%;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: rgba(201, 11, 90, 0.74);
}

.halbkreis h1{
    color: white;
    padding-top: 500px;
    text-align: center;
    font-size: 110px;
    margin-bottom: 0px;
    font-style: normal;
}

.halbkreis p{
    color: white;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}


nav{
    position: sticky;
    top: 50px;
    color: white;
    background-color: black;
    margin-left: 70%;
    border-radius: 3px;
    width: 240px;
}

nav a{
    margin: 15px;
    text-decoration: none;
    color: white;
    background-color: black;
}

