body {
    background-image: url("bg.png");
    font-family: sans-serif;
}
.halbkreis{
    margin-top: -600px;
    margin-left: 10%;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color:rgba(228, 206, 135, 0.089);
}

.halbkreis h1{
    color: rgb(0, 0, 0);
    padding-top: 500px;
    text-align: center;
    font-size: 100px;
    margin-bottom: 0px;
    font-style: normal;
}

.halbkreis h2{
    color: rgb(0, 0, 0);
    padding-top: 500px;
    text-align: center;
    font-size: 110px;
    margin-bottom: 0px;
    font-style: normal;
}

.halbkreis p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.halbkreis a{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.halbkreis b{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

nav{
    position: sticky;
    top: 50px;
    color: white;
    background-color: black;
    margin-left: 70%;
    border-radius: 3px;
    width: 240px;
}
nav a{
    margin: 15px;
    text-decoration: none;
    color: white;
    background-color: black;
}

