body {
    background-image: url("bg.png");
    font-family: sans-serif;
}
.halbkreis{
    margin-top: -600px;
    margin-left: 16%;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color:rgba(216, 112, 147, 0.719);
    text-align: center;
}

.halbkreis h1{
    text-align: left;
    color: rgb(0, 0, 0);
    padding-top: 500px;
    text-align: center;
    font-size: 100px;
    margin-bottom: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.halbkreis h2{
    color: rgb(0, 0, 0);
    padding-top: 500px;
    text-align: center;
    font-size: 110px;
    margin-bottom: 0px;
    font-style: normal;
}

.halbkreis p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.halbkreis a{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.halbkreis b{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

nav{
    position: sticky;
    top: 0px;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border-radius: 0px 0px 10px 10px;
    width: 300px;
    left: 50%;
    height: 35%;
    padding: 5px 10px 0px 10px;
    text-align: center;

}
nav a {
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
#footer {
    background-color:rgba(216, 112, 147, 0.719);
    color: rgba(0, 0, 0, 0.719);
    padding-bottom: 10px;
    padding-top: 10px;
    border-width: 10;
    border-color:#9e7b7b;
    border-style: solid;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}